[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
bokeh = "*"
matplotlib = "*"
jupyterlab = "*"
jupyter = "*"
networkx = "*"
seaborn = "*"
requests = "*"
holoviews = "*"
scikit-image = "*"

[requires]
python_version = "3.6"
